/* Faire en sorte que le body occupe au moins 100% de la hauteur de la fenêtre */
html, body {
  height: 100%;
  margin: 0;
}

/* Utilisez flex pour organiser le contenu de manière verticale et faire occuper tout l'espace disponible */
body {
  display: flex;
  flex-direction: column;
}

/* Fait en sorte que le contenu principal se développe et occupe l'espace disponible */
main {
  flex: 1 0 auto;
}

/* Le pied de page restera en bas de la page */
app-footer {
  flex-shrink: 0;
}
